@media (min-width: 1200px) and (max-width: 1342px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
    .box-logo-company  {
        text-align: center !important;
        padding-bottom: 6px;
        padding-top: 5px;
        float: left;
    }

    .logo {
      max-width: 80px;
    }

    .nav-shad {
      display: none;
    }

    .about-text {
      padding: 60px;
    }

    .box-ideals {
      margin: auto;
    }
}